/* You can add global styles to this file, and also import other style files */


.ng-dropdown-panel{
    background-color: #fff !important;
        border: 1px solid #ccc !important;
        box-shadow: 0 1px 0 rgba(0,0,0,0.06) !important;
        left: 0 !important;
    }

.ngx-pagination {
        margin-left: 50% !important;
        margin-bottom: 1rem !important;
        margin-top:10px !important
    }
